@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@600&display=swap");

body {
  overflow: hidden;
  margin: 50px 25px;
  padding: 0;
  box-sizing: border-box;
  background: #e5e5e5;
}
.main-container {
  height: 100%;
  width: 100%;
}
.main-container {
  display: flex;
  .sidebar {
    width: 310px;
    margin-right: 45px;
  }
  .topbar {
    width: 100%;
  }
}
